<!DOCTYPE html>
<html>
<head>
	<title>Catalogo</title>
</head>
<body>
	<a class="btn btn-primary" href="/private">User Private Area</a>
	<a class="btn btn-primary" href="/incarico">Crea incarico</a>
	<h1>Here we'll set elenco + scadenze</h1>
	<table style="width:50%" border= '1px'>
		<tr>
			<th></th>
			<th>Incarico</th>
			<th>Mandante</th>
			<th>Assicurato</th>
			<th>Nr Sinistro</th>
			<th>Polizza</th>
			<th>Data SX</th>
			<th>Data Incarico</th>
			<th>Soprall</th>
			<th>Evasione</th>
			<th>Scad 1</th>
			<th>Scad 2</th>
			<th>Scad 3</th>
			<th>Breve descrizione</th>
		</tr>
		<tr>
			<td><a href="/riepilogo"><button>vai a ID</button></a></td>
			<td>Id_num</td>
			<td>Agenzia ass</td>
			<td>privato/azienda</td>
			<td>id_SX</td>
			<td>id polizza</td>
			<td>Date_SX</td>
			<td>Date_incarico</td>
			<td>Date_soprall.</td>
			<td>Date_evas</td>
			<td>Date_scad_inc</td>
			<td>Date_scad_sopr</td>
			<td>Date_scad_evas</td>
			<td>Un normale sinistro</td>
		</tr>
	</table>
	<h2>Build a search engine based on Tables !!!</h2>

</body>
</html>